@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,100;1,300;1,400&display=swap');
body {
    background-color: rgb(53, 53, 53);
    color: white;
    font-family: 'Montserrat';
}

.outputBox {
    width: 500px;
    background-color: rgb(125, 125, 125);
    height: 50px;
    /* margin-left: 35%; */
    margin-top: 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
    transition: animation 1000ms ease-in-out;
    /* color: rgb(230, 196, 104); */
    /* animation: 2s spin cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#imageBox {
    width: 100%;
    height: auto;
    /* border: solid red 2px; */
    display: flex;
    flex-wrap: wrap;
}

@keyframes spin {
    100% {transform: rotate(360deg)}
}

@keyframes glow {
    50% {box-shadow: 0px 0px 30px white;}
    100% {box-shadow: 0px 0px 10px white;}
}

#resultImage {
    width: 150px;
    height: 150px;
    border: solid white 2px;
    border-radius: 5px;
    margin: 10px;
    background-size: cover;
    transition: transform 400ms ease-in-out;
}

#resultImage:hover {
    transform: scale(110%);
    box-shadow: 0px 0px 10px white;
    cursor: pointer;

}